<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录企业员工管理系统</title>
</head>
<body>
<br/>
<br/>
<div th:if="${flag} == 1">
    <label>密码错误</label>
</div>
<br/>
<br/>
<div th:if="${flag} == 2">
    <label>账号不存在</label>
</div>
<br/>
<br/>
<form th:action="@{/user/loginPost}" method="post">
    <div>
        <label>员工ID</label>
        <input type="text" name="Yid" />
    </div>
    <div>
        <label>密码</label>
        <input type="password" name="Password"  />
    </div>
    <div>
        <input type="submit" value="提交" />
    </div>
</form>
</body>
</html>
